<div class="font-playfair bg-gray-100 m-0 w-full flex flex-col">
  @for (chapter of chapters; track chapter.id) {
    <div class="bg-white w-[88ch] min-h-[112ch] mx-auto my-5 p-6" id="{{chapter.id}}">
      <h1 class="text-3xl bg-white font-bold m-3">{{ chapter?.chapterTitle }}</h1>
      @for (block of getBlocks(chapter); track block.id) {
        <div class="flex flex-row group">
          @switch (block.type) {
            @case ("paragraph") {
              <app-paragraph [content]="block.data.text" class="shrink grow"></app-paragraph>

              <button class="invisible bg-white rounded-3xl aspect-square size-12 flex-none my-7 drop-shadow-md flex group-hover:visible"
                      (click)="openCommentModal()">
            <span class="material-symbols-outlined m-auto">
add_comment
</span>
              </button>
            }
            @case ("header") {
              <app-heading [content]="block.data.text"></app-heading>
            }

          }
          <app-comment-modal [blockId]="block.id" [chapterId]="chapter.id" (addCommentEvent)="addComment($event)"></app-comment-modal>
        </div>
      }
    </div>
  }


  <div class="bg-gray-100 w-[88ch] mx-auto">

    <div class="flex mx-auto w-full justify-center" #chapterContainer>
      <img ngSrc="assets/images/end.png" height="267" width="310" priority>
      <div class="flex flex-col items-center justify-center">
        <div class="text-center text-xl my-3">Sadly, there are no more chapters!</div>
        <button class="bg-yellow-200 rounded-3xl w-28 h-16 -rotate-45 my-7" [routerLink]="'/discovery'">
          <p class="text-black text-lg rotate-45">More</p>
        </button>
      </div>

    </div>

  </div>

</div>



