<app-top-bar></app-top-bar>
<div class="font-playfair 2xl:w-10/12 xl:w-11/12 w-full mx-auto">
  <div class="mx-auto my-12">
    <div class="flex flex-col lg:flex-row gap-7">
      <div class="mx-auto">
        <div class="mx-8 xl:mx-0">
          <img src="/assets/images/book-cover.png" alt="Book Cover" width="329" height="449"
               priority="true">
          <div class="w-72 mx-auto">
            <app-book-settings [book]="book"></app-book-settings>
          </div>
        </div>
      </div>
      <div class="w-full mx-auto flex flex-col items-end">
        <div class="flex">
          @if (!titleEdit) {
            <h1 class="text-6xl font-bold">{{ book.title || "Keine Information" }}</h1>
            <button class="text-2xl px-6 text-blue-500 " (click)="titleEdit = !titleEdit">
              <span class="material-symbols-outlined my-auto text-2xl">edit</span>
            </button>
          } @else {
            <input type="text" class="border border-black rounded text-6xl" [(ngModel)]="book.title" maxlength="100" placeholder="Book Title">
            <button class="text-2xl px-6 text-blue-500 " (click)="updateTitle()" [disabled]="book.title.length > 100">
              <span class="material-symbols-outlined my-auto text-2xl">check</span>
            </button>
          }
        </div>

        <div class="flex items-end text-right my-3">
          @if (!catchphraseEdit) {
            <h1 class="text-xl italic">{{ book.catchphrase || "Keine Catchphrase" }}</h1>
            <button class="text-2xl px-6 text-blue-500 " (click)="catchphraseEdit = !catchphraseEdit">
              <span class="material-symbols-outlined my-auto text-2xl">edit</span>
            </button>
          } @else {
            <input type="text" class="border border-black rounded text-xl w-96" [(ngModel)]="book.catchphrase" maxlength="200" placeholder="Catchphrase">
            <button class="text-2xl px-6 text-blue-500 " (click)="updateCatchphrase()">
              <span class="material-symbols-outlined my-auto text-2xl">check</span>
            </button>
          }
        </div>

        <div class="flex flex-row">

          <div>
            <div class="flex flex-col mr-8">
              <div class="flex flex-row mt-2">
              <span class="material-symbols-outlined text-amber-400">
                star
              </span>
                <p>250</p>
              </div>
              <div class="flex flex-row mt-2">
              <span class="material-symbols-outlined">
                visibility
              </span>
                <p>2500</p>
              </div>
            </div>

          </div>

          <div class="flex flex-col items-end">
            <div class="flex">
              @if (!descriptionEdit){
                <p class="text-md xl:w-80 lg:w-72 w-72 text-center lg:text-right">{{ book.description || "Keine Beschreibung " }}</p>
                <button class="text-2xl px-6 text-blue-500 " (click)="descriptionEdit = !descriptionEdit">
                  <span class="material-symbols-outlined my-auto text-2xl">edit</span>
                </button>
              } @else {
                <textarea class="border border-black rounded text-md xl:w-80 lg:w-72 w-72 h-72" [(ngModel)]="book.description" maxlength="500" placeholder="Book Description"></textarea>
                <button class="text-2xl px-6 text-blue-500 " (click)="updateDescription()" [disabled]="book.description.length > 500">
                  <span class="material-symbols-outlined my-auto text-2xl">check</span>
                </button>
              }

            </div>
            <div class="my-7 xl:mx-12 flex flex-col items-end">
                <div class="flex flex-row flex-wrap items-end text-right">
                  @for (tag of book.tags; track tag; ) {
                    <p> {{ tag }} </p>
                    @if (!$last) {
                      <p class="mx-1"> - </p>
                    }
                  }
              </div>

              <div class="flex">
                  <select [(ngModel)]="book.genreId" (change)="updateGenre()" class="text-md xl:w-80 lg:w-72 w-72 text-center lg:text-right">
                    @for (genre of genres; track genre; ) {
                      <option [ngValue]="genre.id">{{ genre.name }}</option>
                    }
                  </select>

              </div>




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

