<h1 class="text-4xl font-playfair my-6 mx-12">Write or Edit</h1>
<div class="flex mx-12">

  <div class="flex flex-wrap w-full p-4 gap-5">
    <div class="border-dashed border-2 border-gray-400 w-[200px] h-[320px] rounded-xl flex my-2">
      <button class="text-gray-400 mx-auto" (click)="addBook()">
      <span class="material-symbols-outlined text-4xl">
add
</span>
      </button>
    </div>
  @for (book of books; track book.id){
    <div class="h-[320px] aspect-[1/1.6] my-2">
      <app-book-display [book]="book" [justify]=false></app-book-display>
    </div>

  }
  </div>

</div>



