<div class="absolute w-full h-full flex items-center justify-center backdrop-blur-sm bg-black bg-opacity-25 z-50">

  <div class="w-1/3 bg-white min-h-52 p-4 rounded-lg">
    <div class="border-2 border-dashed border-black h-30 min-h-24 w-full rounded-lg opacity-25 hover:bg-gray-300 flex justify-center items-center">
      <div class="flex flex-col items-center p-10 select-none">
        <img src="/assets/upload-cloud.svg" alt="upload">
        <p>Drop your cover here</p>
        <p>jpg, jpeg, png</p>
        <p>min 800x800px</p>
      </div>
    </div>
  </div>

</div>