<div class="absolute w-screen h-screen left-0 top-0 flex items-center justify-center backdrop-blur-sm bg-black bg-opacity-25 z-20">

  <div class="min-w-96 mx-4 bg-white p-4 rounded-lg">
    <label for="file-upload" class="flex w-full cursor-pointer">
      @if(file == null) {
        <div class="flex w-full h-full border-2 border-dashed border-black p-5 rounded-lg opacity-25 ">
          <img src="/assets/upload-cloud.svg" alt="upload">
          <span class="ml-3">click to upload</span>
        </div>
      }
      @else {
        <div class="w-full flex flex-col justify-center items-center p-5">
          <div class="w-48 h-64 bg-gray-300 rounded animate-pulse"></div>
          <p class="text-gray-300">(cover preview)</p>  
        </div>
      }
      
    </label>
    <input id="file-upload" type="file" class="hidden" (change)="onFileSelected($event)">
    <div class="flex w-full">
      <button class="mr-auto p-2 mt-3 btn bg-red-500 text-white rounded-lg">cancle</button>
      @if(file != null) {
        <button class="ml-auto p-2 mt-3 btn bg-blue-500 text-white rounded-lg">commit</button>
      }
      @else {
        <button class="ml-auto p-2 mt-3 btn bg-blue-500 text-white rounded-lg opacity-25 pointer-events-none select-none">commit</button>
      }
    </div>
  </div>

</div>