<app-top-bar></app-top-bar>
<div class="font-playfair">
  <div class=" container mx-auto my-12">
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-1/4">
        <img ngSrc="/assets/images/book-cover.jpg" alt="Book Cover" width="180" height="278" priority="true">
      </div>
      <div class="w-full md:w-1/3 mt-4 md:mt-0 md:pl-8 text-center">
        <h1 class="text-3xl font-bold">Book Title</h1>
        <p class="text-lg mt-2">Author Name</p>
        <p class="text-lg mt-2">Published Date</p>
        <p class="text-lg mt-2">Number of Pages</p>
      </div>
    </div>
  </div>

  <button class="bg-[#E14237] rounded-3xl w-28 h-16 -rotate-45">
    <p class="text-white text-lg rotate-45">Lesen</p>
  </button>
</div>
